@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <p>
        <h3>Natural By Design</h3><br>
        We are Natural By Design, an interior and exterior landscaping company based in San Jose, California.<br>
        Natural By Design employs 25 people and has a gross sales of 4.1 Million, and is owned by Keri Yamaguchi and Stan Fenton <br><br>

        Our Design Team is comprised of six experienced designers that each offer unique designs to bring to the table. <br> 
        these designers will be the first people to meet with you and will help sketch concepts out and establish a contract with us <br>
        so we can make your Landscape a beauty to behold. <br>

        Our Production Crew are skilled workers in Gardening and hard Labour. These crews work together on sites <br> 
        or separately depending on the scope of work. This allows for each crew member to enhance quality and detail.<br>
    </p>
<div>

