@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>At</h3>

<address>
    14398 Union Road<br />
    San Jose, CA <br />
    <abbr title="Phone">Phone:</abbr>
    408.666.6666
</address>

<address>
    <strong>Administrative Assistant:</strong> <a href="mailto:AdminAssistant1@outlook.com">AdminAssistant1@outlook.com</a>
</address>