@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Natural By Design</h1>
    <p class="lead">We Make Your Design Naturally.</p>
    <p><a href="/Account/Login" id="loginLink" class="btn btn-primary btn-lg">Log In &raquo;</a></p> 

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Greetings Staff</h2>
        <p>
            Here At Natural By Design we strive excellence at all stages of our work.
            This system is designed to be a powerful tool to increase accuracy and
            lower the workload on all of our staff. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Setting Up Your Account</h2>
        <p>This System is for employees at Natural By Design. Once you Register Email your supervisor and they will allow you to use the system based on your role</p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Remember not to allow anyone else on your account (even momentarily) as this can lead to problems in many forums</p>
    </div>
</div>